[Desktop Entry]
Name=TuxTimings
Comment=AMD Ryzen DRAM timings viewer
Exec=TuxTimings.LinuxUI
Icon=tuxtimings
Terminal=false
Type=Application
Categories=System;Utility;
